{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Commande</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Couleurrestaurant</th>
                <td>{{ entity.couleurrestaurant }}</td>
            </tr>
            <tr>
                <th>Couleursection</th>
                <td>{{ entity.couleursection }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ entity.prix }}</td>
            </tr>
            <tr>
                <th>Datecom</th>
                <td>{{ entity.datecom|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dateprep</th>
                <td>{{ entity.dateprep|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datepret</th>
                <td>{{ entity.datepret|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ entity.datefin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datedesir</th>
                <td>{{ entity.datedesir|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('Ebene_commande') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('Ebene_commande_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
